<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/x-icon" href="{{url_for('static',filename='img/favicon.ico')}}">
    <title>Trends Twitter</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><a href="/">Trends on Twitter</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/">Graphics</a></li>
          <li><a href='/top'>Top</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->
    {% block content %}
    {% endblock %}
      <div class="medium-3 columns right" data-sticky-container>
        <div class="sticky" data-sticky data-anchor="content">
          <h4>Trends</h4>
            {% for i in range(trending|length) %}
            <li><a href='/trend/{{i}}'>{{trending[i]}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>


  </body>
</html>
